{% extends "base.html" %}

{% block title %}新規会員登録{% endblock %}

{% block content %}
    <h2>新規登録</h2>
    <form method="POST" style="text-align: center;">
        <p><input type="email" name="email" placeholder="メールアドレス" required style="margin: 10px; padding: 10px;"></p>
        <p><input type="password" name="password" placeholder="パスワード" required style="margin: 10px; padding: 10px;"></p>
        <p><input type="submit" value="登録"></p>
    </form>
    
    <p style="text-align: center;"><a href="{{ url_for('auth.login') }}">ログインはこちら</a></p>
{% endblock %}